<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>登陆失败</title>
    <th:block th:replace="/backstage/common_resources::common_css"></th:block>
    <th:block th:replace="/backstage/common_resources::common_js"></th:block>
</head>

<body class="hold-transition skin-purple sidebar-mini">
<div class="wrapper">
    <div class="content-wrapper">
        <h2>用户名或密码错误，请<a href="/backstage/admin_login">重新登录</a></h2>
    </div>

</div>
<footer th:replace="/backstage/common_footer::footer"></footer>
</body>

</html>